


.cabecalho {
    width: 100%;
    display: inline-block;
    height: 6em;
    position: fixed;
    background: #224f40;
    z-index: 1;
    top: 0;
    box-shadow: #7e7e7e 7px 7px 25px;
    background-color: #fff;
}

.produtos {
    display: inline-block;
    margin: .5em;
    min-height: 17em;
    /* border: 1px solid #090909; */
}
#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
    padding-top: 6em;
}

.card-img-top {
    /* max-width: 12em; */
    max-height: 17em;
    border: 3px solid #0000001a;
    border-radius: 50px 50px 20px 20px !important;
}

.card-body {
    max-width: 12em;
    display: flex;
    flex-direction: column;
    min-height: 22em;
    justify-content: space-between;
}

.card {
    border: none;
    align-items: center;
    /* margin: 1em; */
    /* min-height: 35em; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.btn-primary-personally {
    /* bottom: -3em; */
    /* position: absolute; */
}

.preco {
    /* position: absolute; */
    /* bottom: 2em; */
    /* background-color: #050505; */
    /* color: #FFF; */
}

#carrinho {
    position: absolute;
    margin: 2.5em 1em 1em 1em;
    color: #4a4a4a;
    width: 3em;
    right: 0;
}

#contador {
    position: absolute;
    right: 14px;
    background: #c91616;
    color: white;
    top: 43px;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
}

.dropdown {
    position: absolute;
    color: #FFF;
    width: 16em;
    max-height: 20em;
    right: 0;
    top: 6.1em;
    box-shadow: #7e7e7e 22px 7px 25px;
    background-color: #373535;
    text-align: center;
    padding-top: 2em;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

#grupoCarrinho:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

#dropdownItens {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    padding: 0;
    /* overflow: auto; */
}
#dropdownItens li {
    list-style-type: none;
    padding: .1em;
    background: #3f4b42;
    margin: .5em;
}

#grupoCarrinho {
    cursor: pointer;
}

.btn-warning:hover{
    background-color: #d6d7d1;
    transition: 1s;
}
/* 
@media only screen and (max-width: 600px) {
    body {
        background-color: #c91616;
    }
    #contador {
        background: blue;
    }
} */